<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Positions</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
    <body>
      <h1>Positions</h1>

      <ul>
        <% @positions.each do |position| %>
          <li>
            <a href="/positions/<%= position %>">
              <%= position %>
            </a>
        </li>
        <% end %>
      </ul>
      <script src="/javascripts/app.js"></script>
    </body>
</html>
